@using SimplifikasiFID.Models;
@model PengajuanUsulanDTO

@{
    var UserId = User.Identity.Name.ToString();
    var category = Model.Category;
    if (category == "bd")
    {
        category = "BD";
    }
    else
    {
        category = "NON-BD";
    }
}
@{
    ViewBag.Title = "PengajuanUsulan";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "PengajuanUsulan";
    ViewBag.ActiveMenuCaption = "Pengajuan Usulan " + category;
    ViewBag.Icon = "<i class=\"ace-icon fa fa-list\"></i>";
    ViewBag.SideMenu = "Yes";
}

<style>
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

    tr {
        height: 40px;
    }

    .td-none {
        border: 1px solid #ccc;
        padding: 8px;
    }

    .biru {
        background-color: #ccedff;
    }

    .ace-file-input .ace-file-container.selected + .remove {
        display: none;
    }

    .preview-container {
        margin-top: 20px;
    }

        .preview-container img {
            max-width: 60%;
            max-height: 300px;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 100%;
        }

    .remove-button {
        display: none;
        cursor: pointer;
        color: red;
    }

    @@media (min-width: 992px) {
        .col-md-2 {
            width: 16.666%;
        }

        .col-sm-3 {
            width: 25%;
        }

        .col-md-4 {
            width: 33.333%;
        }

        .col-sm-6 {
            width: 50%;
        }

        .col-sm-7 {
            width: 58.333%;
        }

        .col-md-9 {
            width: 75%;
        }

        .col-sm-10 {
            width: 83.333%;
        }

        .col-md-12 {
            width: 100%;
        }
    }

    li ::marker {
        content: "";
    }

    li.row {
        display: flex;
    }

    .col-sm-1 {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    li.row {
        display: flex;
    }

    .ctrFile {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<div>
    <div style="margin-top:20px; margin-bottom:20px;">
        <ul class="nav nav-tabs" id="tabs">
            <li id="tab1" class="active">
                <a data-toggle="tab" href="#tabInfo" aria-expanded="true" style="border-left:none;">
                    <i class="fa fa-desktop"></i> Information
                </a>
            </li>
            <li id="tab2">
                <a data-toggle="tab" href="#docPS" aria-expanded="true" style="border-left:none;">
                    <i class="fa fa-file"></i> Doc. PS
                </a>
            </li>
            @{
                if (category != "BD")
                {
                    <li id="tab3">
                        <a data-toggle="tab" href="#docCBA" aria-expanded="true" style="border-left:none;">
                            <i class="fa fa-file"></i> Doc. CBA
                        </a>
                    </li>
                }
            }
        </ul>
        <div class="tab-content" style="min-height:300px;border-bottom:none;border-left:none;border-right:none;padding:0px;">

            <div id="tabInfo" role="dialog" class="tab-pane fade in active">
                <form class="form-horizontal">
                    <div class="mb-2">
                        <h4 style="margin-left:10px;">
                            <i class="fa fa-desktop"></i>
                            Information
                        </h4>
                    </div>
                    <div class="box-body">
                        <br>
                        <div class="form-group" id="idFID">
                            <label for="inputName" class="col-sm-2 control-label">Nomor FID :</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="noFID" placeholder="Id. Will be generate by system" type="text" readonly style="background-color:whitesmoke;" autocomplete="off">
                            </div>
                        </div>

                        <div id="idTahun" class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Tahun Anggaran :</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="thn_usul" placeholder="Tahun Anggaran" type="text" readonly />
                                <script>
                                    $(document).ready(function () {
                                        $("#thn_usul").datepicker({
                                            format: "yyyy",
                                            viewMode: "years",
                                            minViewMode: "years",
                                            autoclose: true
                                        });
                                    })
                                </script>
                            </div>
                        </div>

                        <div id="idJudul" class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Judul Usulan :</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="judul_usul" placeholder="Judul Usulan" type="text">
                            </div>
                        </div>

                        <div id="idABI" class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Nilai Pengajuan ABI :</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="nilai_abi" placeholder="Nilai ABI Dalam Angka" type="text" onkeypress="return onlyNumberKey(event)" oninput="setCurrency('nilai_abi')">
                                <script>
                                    function setCurrency(id) {
                                        if (document.getElementById(id).value != "") {
                                            document.getElementById(id).value = parseFloat(document.getElementById(id).value.replace(/\,/g, ""))
                                                .toString()
                                                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        }
                                    }
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Fungsi Pengusul :</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" id="fungsi_usul">
                                    <option value="" selected>-- Select Fungsi Pengusul --</option>
                                    @foreach (var list in Model.M_Fungsi)
                                    {
                                        <option value="@list.FungsiID">@list.FungsiName</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Jenis Usulan :</label>
                            <div class="col-sm-2">
                                <input class="form-control" id="jenis_usul" placeholder="Judul Usulan" type="text" value="@category" readonly>

                            </div>
                        </div>
                    </div>

                    <div style="margin-top:20px;">
                        <h4 style="margin-left:10px;">
                            <i class="fa fa-at"></i>
                            Email
                        </h4>
                        <div class="bx d-block body">
                            <div class="form-group" id="cls_email">
                                <label for="inputName" class="col-sm-2 control-label">Name :</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="name_txt" placeholder="@UserId" type="text" readonly style="background-color:whitesmoke;" autocomplete="off">
                                </div>
                            </div>

                            <div id="idEmail" class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Email :</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="email_txt" placeholder="email@email.com" value="@Model.Email" type="text" readonly>
                                </div>
                            </div>

                            <div id="idJabatan" class="form-group">
                                <label for="inputName" class="col-sm-2 control-label">Jabatan :</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="jabatan_txt" placeholder="User" type="text" readonly style="background-color:whitesmoke;" autocomplete="off">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="margin-top:20px;">
                        <h4 style="margin-left:10px;">
                            <i class="fa fa-file"></i>
                            File Attachment
                        </h4>
                        @{
                            if (category == "BD")
                            {
                                <div class="form-group" id="div_fs">
                                    <label for="inputName" class="col-sm-2 control-label" id="lbl_fs">FS :</label>
                                    <div class="col-sm-8" id="cls_fs">
                                        <input class="form-control" type="file" id="fs_file" onchange="addImages('fs_file', '', 'remove-fs')" />
                                    </div>
                                    <div class="col-md-2">
                                        <span class="fa fa-trash remove-button" id="remove-fs" onclick="removeImages('remove-fs', '', 'fs_file')"> Remove</span>
                                    </div>
                                </div>
                                <div class="form-group" id="div_rr">
                                    <label for="inputName" class="col-sm-2 control-label" id="lbl_rr">Risk Register :</label>
                                    <div class="col-sm-8" id="cls_rr">
                                        <input class="form-control" type="file" id="rr_file" onchange="addImages('rr_file', '', 'remove-rr')" />
                                    </div>
                                    <div class="col-md-2">
                                        <span class="fa fa-trash remove-button" id="remove-rr" onclick="removeImages('remove-rr', '', 'rr_file')"> Remove</span>
                                    </div>
                                </div>
                            }
                        }

                        <div class="bx d-block body">
                            <div class="form-group" id="cls_email">
                                <label for="inputName" class="col-sm-2 control-label">Others :</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="file-other" type="file" onchange="addImages('file-other', '', 'remove-fo')" />
                                </div>
                                <div class="col-md-2">
                                    <span class="fa fa-trash remove-button" id="remove-fo" onclick="removeImages('remove-fo', '', 'file-other')"> Remove</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="docPS" role="dialog" class="tab-pane fade" style="padding:0px;padding-top:10px">
                <form class="row" id="frmPS">
                    @if (category == "BD")
                    {
                        @Html.Partial("ProjectSummaryBD")
                    }
                    else
                    {
                        @Html.Partial("ProjectSummaryNBD")
                    }

                </form>
            </div>
            @{
                if (category != "BD")
                {
                    <div id="docCBA" role="dialog" class="tab-pane fade" style="padding:0px;padding-top:10px">
                        <form class="row" id="frmCBA">
                            @Html.Partial("FormCBA")
                        </form>
                    </div>
                }
            }
        </div>
    </div>

    <div class="row" style="margin-top:20px; margin-bottom:20px; margin-right:20px; float:right;">
        <button id="ok" class="btn btn-success" onclick="saveFormUsulan()">Save</button>
        <button id="cancel" class="btn btn-danger" onclick="returnHome()">Cancel</button>
    </div>
</div>

<!-- Modal ALlert-->
<div class="modal fade" id="modal_alert" role="dialog" style="margin-top:5%;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#65b0b9;color:White;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p style="color:#151928">ALERT!</p>
            </div>

            <div class="modal-body" id="alert_msg">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    formDefaultUsul();

    let idReason = { value: 1 };
    let idTujuan = { value: 1 };
    let idWork = { value: 1 };
    let idNote = { value: 1 };
    let idDeliver = { value: 1 };
    let idInvest = { value: 1 };
    let idDrawdown = { value: 1 };
    let idSummary = { value: 1 };
    let idAsumsi = { value: 1 };
    let idRisiko = { value: 1 };

    $('#ps_file').ace_file_input();
    $('#fs_file').ace_file_input();
    $('#rr_file').ace_file_input();
    $('#others_file').ace_file_input();
    $('#cba_file').ace_file_input();
    $('#file-other').ace_file_input();


    function onlyNumberKey(evt) {

        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }

    function generateJSON2() {
        let datahtml = document.getElementById("frmDocs").innerHTML;

        alert(datahtml);
    }

    $('#file-other').on('change', function () {
        $('.remove-button2').css('display', 'inline');
    });

    //function removeFiles() {
    //    $('#file-other').ace_file_input('reset_input');
    //    $('.remove-button2').css('display', 'none');
    //}

    function saveFormUsulan() {
        w2confirm('Apakah Anda Yakin Akan Menyimpan Usulan ini? <br>' +
            'Periksa Kembali Dokumen PS (Project Summary) <br>' +
            'Periksa Kembali Dokumen CBA (Cost Benefit Analisys)')
            .yes(() => { saveNewUsulan('DRAFT') })
            .no(() => { return })

    }

    function saveNewUsulan(Flag_update) {
        let category = '@category';

        if (checkText("thn_usul", "Tahun Anggaran Tidak Boleh Kosong !", "tabInfo")) return;
        if (checkText("judul_usul", "Judul Usulan Tidak Boleh Kososng !", "tabInfo")) return;
        if (checkText("nilai_abi", "Nilai ABI Tidak Boleh Kosong !", "tabInfo")) return;
        if (checkText("fungsi_usul", "Fungsi Pengusul Tidak Boleh Kosong !", "tabInfo")) return;

        /*CHECK OTHER FILE*/
        if (category == "BD") {
            if (checkFiles("fs_file", "Dokumen FS Wajib Diupload !")) return;
            if (checkFiles("rr_file", "Dokumen Risk Resgister Wajib Diupload !")) return;
        }

        /*CHECK DOCUMENT TTD*/
        if (checkTDPS()) return;

        if (category != "BD") {
            /*CHECK DOCUMENT CBA*/
            if (checkTDCBA()) return;
        }
        

        RemoveButton();

        var Nominal = $("#nilai_abi").val();
        Nominal = Nominal.replace(/,/g, '');
        
        let dataPS = document.getElementById("frmPS").innerHTML;
        let categorys = '@category';
        let dataCBA = '';
        if (categorys != "BD") {
            dataCBA = document.getElementById("frmCBA").innerHTML;
        }
        
        
        var dataUsulan = new FormData();
        dataUsulan.append('JudulFID', $('#judul_usul').val());
        dataUsulan.append('ThnAng', $('#thn_usul').val());
        dataUsulan.append('NilaiABI', Nominal);
        dataUsulan.append('FungsiPengusul', $('#fungsi_usul').val());
        dataUsulan.append('JenisFID', $('#jenis_usul').val());
        dataUsulan.append('UserName', '@User.Identity.Name.ToString()');
        dataUsulan.append('Email', $('#email_txt').val());
        dataUsulan.append('Jabatan', 'User');
        dataUsulan.append('Flag_update', Flag_update);
        dataUsulan.append('filePS', dataPS);

        if (categorys != "BD") {
            dataUsulan.append('fileCBA', dataCBA);
        }


        var fileOTH = $("#file-other").get(0);
        var filesOTH = fileOTH.files;
        for (var i = 0; i < filesOTH.length; i++) {
            dataUsulan.append(filesOTH[i].name, filesOTH[i]);
        }

        if (categorys == "BD") {
            var fileFS = $("#fs_file").get(0);
            var filesFS = fileFS.files;
            for (var i = 0; i < filesFS.length; i++) {
                dataUsulan.append(filesFS[i].name, filesFS[i]);
            }

            var fileRR = $("#rr_file").get(0);
            var filesRR = fileRR.files;
            for (var i = 0; i < filesRR.length; i++) {
                dataUsulan.append(filesRR[i].name, filesRR[i]);
            }
        }
        

        render_wait();

        var Simpan = $.ajax({
            //url: URL_PTPR + '/FID/SaveFID',
            url: URL_PTPR + '/OnlineForm/SaveFID',
            type: 'POST',
            data: dataUsulan,
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
        });

        if (Simpan.responseJSON["Result"] != "Error") {
            w2alert('Add Draft Usulan success !');

            formDefaultUsul();
            clear_wait();

            returnHome();
        }
        else {

            alert('Add new FID failed, please try again !  ' + Simpan.responseJSON["Msg"]);

            clear_wait();
        }
    }
       

    function addImages(filename, imgFrame, btnRemove) {

        $('#' + filename).on('change', function () {
            var file = this.files[0];
            if (file) {
                
                var reader = new FileReader();
                reader.onload = function (event) {

                    if (imgFrame != '') {
                        $('#' + imgFrame).attr('src', event.target.result);
                    }                    
                    /*$('.remove-button').css('display', 'inline');*/
                    $('#' + btnRemove).css('display', 'inline');
                };
                reader.readAsDataURL(file);
            }
        });

    }

    function removeImages(btnDel, imgFrame, filename) {

        if (imgFrame != '') {
            $('#' + imgFrame).attr('src', '');
        }        
        $('#' + filename).ace_file_input('reset_input');
        $('#' + btnDel).css('display', 'none');

    }

    function RemoveButton() {

        var table = document.getElementById('tblPS');
        var sections = table.querySelectorAll('section');
        var buttons = table.getElementsByTagName('button');
        var fileInputs = table.querySelectorAll('input[type="file"]');
        var containers = table.querySelectorAll('.dynfrm td');

        buttons = Array.prototype.slice.call(buttons);
        buttons.forEach(function (button) {
            /*button.parentNode.removeChild(button);*/
            button.style.display = 'none';
        });

        fileInputs.forEach(function (fileInput) {
            /*fileInput.parentNode.removeChild(fileInput);*/
            fileInput.style.display = 'none';
        });

        sections.forEach(function (section) {
            /* section.parentNode.removeChild(section);*/
            section.style.display = 'none';
        });

        containers.forEach(function (td) {
            td.style.borderColor = 'transparent';
        });

        if (table) {
            var tds = document.querySelectorAll('td.tdInput');
            tds.forEach(td => {
                if (td.innerHTML.trim() === '') {
                    var dvInput = td.closest('.dvInput');
                    if (dvInput) {
                        dvInput.remove();
                    } else {
                        console.log('Parent dvInput div not found');
                    }
                } else {
                    td.style.border = 'none';
                }
            });
        }
    }

    function checkText(chkid, msg, tabs) {

        if ($('#' + chkid).val() == "") {
            alrt = '<p>' + msg + '</p>';

            $('#alert_msg').html(alrt);
            $('#modal_alert').modal("show");


            $('#tabs a[href="#"' + tabs + ']').tab('show');

            return true;
        }

        return false;
    }

    function checkFiles(chkid, msg) {

        if (document.getElementById(chkid).files.length == 0) {
            alrt = '<p>' + msg + '</p>';

            $('#alert_msg').html(alrt);
            $('#modal_alert').modal("show");

            $('#tabs a[href="#fid_file"]').tab('show');

            return true;
        }
        return false;
    }

    function checkTDPS() {
        var element = document.getElementsByClassName('text-for-signature');
        var defText = "<b>Input Text Here</b>";
        var matchFound = false;

        for (var i = 0; i < element.length; i++) {
            var section = element[i];

            var innert = section.innerHTML.trim();

            if (innert == defText) {
                matchFound = true;
                break;
            }
        }

        if (matchFound) {
            var alrt = '<p>Periksa Kembali Nama dan Jabatan <br /> Pada Bagian TTD / Specimen</p>';

            w2alert(alrt);

            return true;
        }

        return false;
    }

    function checkTDCBA() {
        var element = document.getElementsByClassName('text-for-signature-cba');
        var defText = "<b>Input Text Here</b>";
        var matchFound = false;

        for (var i = 0; i < element.length; i++) {
            var section = element[i];

            var innert = section.innerHTML.trim();

            if (innert == defText) {
                matchFound = true;
                break;
            }
        }

        if (matchFound) {
            var alrt = '<p>Periksa Kembali Nama dan Jabatan <br /> Pada Bagian TTD / Specimen</p>';

            w2alert(alrt);

            return true;
        }

        return false;
    }

    function formDefaultUsul() {
        $('#thn_usul').val("");
        $('#judul_usul').val("");
        $('#nilai_abi').val("");
        $('#fungsi_usul').val("").trigger('change');

        $('#others_file').ace_file_input('reset_input');

        $('#tabs a[href="#info"]').tab('show');
    }

    function returnHome() {
        formDefaultUsul();

        var category = '@category';
        if (category == "BD") {
            category = "bd";
        }
        else {
            category = "NonBD";
        }

        window.location.replace(URL_PTPR + "/" + '/FID/vFID?category=' + category);
    }

</script>