@using SimplifikasiFID.Models;
@model T_FID
@{
    ViewBag.Title = "Pengajuan FID";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "Pengajuan FID";
    ViewBag.ActiveMenuCaption = "Pengajuan FID " + Model.Jenisfid;
    ViewBag.Icon = "<i class=\"ace-icon fa fa-list\"></i>";
    ViewBag.SideMenu = "Yes";
}

@{
    SimplyFIDEntities dbs = new SimplyFIDEntities();
    var category = Model.Jenisfid;
    var username = User.Identity.Name;
    var fungsi = dbs.M_Fungsi.Where(x => x.FungsiID == Model.Fungsipengusul).FirstOrDefault();
}

<style>
    .tg {
        border-collapse: collapse;
        border-spacing: 0;
    }

        .tg td {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg th {
            border-color: black;
            border-style: solid;
            border-width: 1px;
            font-family: Arial, sans-serif;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            padding: 10px 5px;
            word-break: normal;
        }

        .tg .tg-0lax {
            text-align: left;
            vertical-align: top
        }

    tr {
        height: 40px;
    }

    .td-none {
        border: 1px solid #ccc;
        padding: 8px;
    }

    th, td {
        border: 1px solid #000;
        padding: 8px;
        text-align: left;
    }

    thead {
        display: table-header-group; /* Ensure header repeats on each page */
    }

    tfoot {
        display: table-footer-group; /* Ensure footer repeats on each page */
    }

    .page-break {
        page-break-before: always;
    }

    tr {
        height: 25px;
    }

    .td-none {
        border: 1px solid #ccc;
        padding: 8px;
    }

    .biru {
        background-color: #ccedff;
    }

    .ace-file-input .ace-file-container.selected + .remove {
        display: none;
    }

    .preview-container {
        margin-top: 20px;
    }

        .preview-container img {
            max-width: 100%;
            max-height: 500px;
            margin-right: 10px;
            margin-bottom: 10px;
            width: 100%;
        }

    .remove-button {
        display: none;
        cursor: pointer;
        color: red;
    }

    .col-md-1 {
        width: 8.33%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .col-md-2 {
        width: 16.666%;
    }

    .col-md-3 {
        width: 25%;
    }

    .col-md-4 {
        width: 33.333%;
    }

    .col-md-5 {
        width: 41.67%;
    }

    .col-md-6 {
        width: 50%;
    }

    .col-md-7 {
        width: 58.333%;
    }

    .col-md-8 {
        width: 66.67%;
    }

    .col-md-9 {
        width: 75%;
    }

    .col-md-10 {
        width: 83.333%;
    }

    .col-md-11 {
        width: 91.67%;
    }

    .col-md-12 {
        width: 100%;
    }

    ul, ol {
        list-style-type: none;
    }

    li.row {
        display: flex;
        margin-bottom: 10px;
    }

        li.row .col-md-1,
        li.row .col-md-10 {
            display: flex;
            align-items: center;
        }

    .td-specimen {
        height: 120px;
        text-align: center;
        vertical-align: middle;
    }

    .img-specimen {
        max-height: 100%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    .img-specimen-small {
        max-height: 200%;
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }
</style>

<div>
    <div style="margin-top:20px; margin-bottom:20px;">
        <ul class="nav nav-tabs" id="tabs">
            <li id="tab1" class="active">
                <a data-toggle="tab" href="#tabInfo" aria-expanded="true" style="border-left:none;">
                    <i class="fa fa-desktop"></i> Information
                </a>
            </li>
            <li id="tab2">
                <a data-toggle="tab" href="#docHR" aria-expanded="true" style="border-left:none;">
                    <i class="fa fa-file"></i> Hasil Review
                </a>
            </li>
            <li id="tab3">
                <a data-toggle="tab" href="#docFID" aria-expanded="true" style="border-left:none;">
                    <i class="fa fa-file"></i> FID
                </a>
            </li>
            <li id="tab4">
                <a data-toggle="tab" href="#list-docs" aria-expanded="true" style="border-left:none;">
                    <i class="fa fa-list"></i> List Doc.
                </a>
            </li>
            <li id="tab4">
                <a data-toggle="tab" href="#list-email" aria-expanded="true" style="border-left:none;">
                    <i class="fa fa-list"></i> Add Email
                </a>
            </li>
        </ul>
        <div class="tab-content" style="min-height:300px;border-bottom:none;border-left:none;border-right:none;padding:0px;">

            <div id="tabInfo" role="dialog" class="tab-pane fade in active">
                <form class="form-horizontal">
                    <div class="mb-2">
                        <h4 style="margin-left:10px;">
                            <i class="fa fa-desktop"></i>
                            Information
                        </h4>
                    </div>
                    <div class="box-body">
                        <br>
                        <div class="form-group" id="idFID">
                            <label for="inputName" class="col-sm-2 control-label">Nomor FID :</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="noFID" type="text" style="background-color:whitesmoke;" value="@Model.NoFID" readonly>
                            </div>
                        </div>

                        <div id="idTahun" class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Tahun Anggaran :</label>
                            <div class="col-sm-4">
                                <input class="form-control" id="thn_usul" placeholder="Tahun Anggaran" type="text" value="@Model.TahunAnggaran" readonly />
                            </div>
                        </div>

                        <div id="idJudul" class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Judul Usulan :</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="judul_usul" placeholder="Judul Usulan" type="text" value="@Model.Judulfid" readonly>
                            </div>
                        </div>

                        <div id="idABI" class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Nilai Pengajuan ABI :</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="nilai_abi" placeholder="Nilai ABI Dalam Angka" type="text" onkeypress="return onlyNumberKey(event)" oninput="setCurrency('nilai_abi')" value="@Model.NilaiABI" readonly>
                                <script>
                                    function setCurrency(id) {
                                        if (document.getElementById(id).value != "") {
                                            document.getElementById(id).value = parseFloat(document.getElementById(id).value.replace(/\,/g, ""))
                                                .toString()
                                                .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                        }
                                    }
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Fungsi Pengusul :</label>
                            <div class="col-sm-4">
                                <select class="form-control select2" id="fungsi_usul" disabled>
                                    <option value="" selected>-- Select Fungsi Pengusul --</option>
                                    @{
                                        if (fungsi != null)
                                        {
                                            <option value="@fungsi.FungsiID" selected>@fungsi.FungsiName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Jenis Usulan :</label>
                            <div class="col-sm-2">
                                <input class="form-control" id="jenis_usul" placeholder="Judul Usulan" type="text" value="@category" readonly>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div id="docHR" role="dialog" class="tab-pane fade" style="padding:0px;padding-top:10px">
                <form class="row" id="frmHR">
                    @{
                        if (category == "BD")
                        {
                            @Html.Partial("HR_BD")
                        }
                        else
                        {
                            @Html.Partial("HR_NBD")
                        }

                    }
                </form>
            </div>

            <div id="docFID" role="dialog" class="tab-pane fade" style="padding:0px;padding-top:10px">
                <form class="row" id="frmFID">
                    @{
                        if (category == "BD")
                        {
                            @Html.Partial("FID_BD")
                        }
                        else
                        {
                            @Html.Partial("FID_NBD")
                        }
                    }

                </form>
            </div>

            <div id="list-docs" class="tab-pane fade" style="padding:0px;padding-top:0px;">
                <table class="new-table" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td width="50%" valign="top" style="padding-top:1px;">
                            <div id="grid-docs" style="height:500px;border:none;border-radius:0px;border-top:1px solid #dedede;border-right:0px solid #dedede;"></div>
                        </td>
                        <td valign="middle">
                            <div id="preview_file" style="text-align:center;">
                                <iframe src="" scrolling="no" id="frame_preview" frameborder="0" style="width:100%;height:500px;border:1px;"></iframe>
                            </div>
                        </td>

                    </tr>
                </table>
            </div>

            <div id="list-email" class="tab-pane fade" style="padding:0px;padding-top:0px;">

                <table class="new-table" border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                    <tr>
                        <td width="100%" valign="top" style="padding-top: 1px; ">
                            <div id="gridEmail" style="height: 500px; border: none; border-radius: 0px; border-top: 1px solid #dedede; border-right: 0px solid #dedede;"></div>
                        </td>

                    </tr>
                </table>

            </div>
        </div>
    </div>

    <div class="row" style="margin-top:20px; margin-bottom:20px; margin-right:20px; float:right;">
        <button id="ok" class="btn btn-success" onclick="saveformFID()">Save</button>
        <button id="cancel" class="btn btn-danger" onclick="returnHome()">Cancel</button>
    </div>
</div>

<!-- Modal Add Other Email-->
<div class="modal fade" id="modal_other_email" role="dialog" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header" style="background-color:#438EB9;color:White;">
                <button type="button" class="close" data-dismiss="modal" onclick="default_email()">&times;</button>
                <h4 class="modal-title">Add Email</h4>
            </div>

            <div class="modal-body" style="padding:0px;padding-top:10px;">
                <div class="tabbable">

                    <ul class="nav nav-tabs" id="tabs">
                        <li id="tab1" class="active">
                            <a data-toggle="tab" href="#add_email" aria-expanded="true" style="border-left:none;">
                                <i class="fa fa-envelope"></i>Add Email
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" style="min-height:150px; border-bottom:none;border-left:none;border-right:none;padding:0px;">
                        <div id="add_email" class="tab-pane fade in active">
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <br />
                                    <div class="form-group" id="cls_jabatan">
                                        <label for="inputName" class="col-sm-2 control-label">Fungsi :</label>
                                        <div class="col-sm-8">
                                            <select class="form-control select2" id="jbtn">
                                                <option value="" selected>-- Select Fungsi --</option>
                                                @{
                                                    var lFungsi = dbs.M_EmailManager.ToList();
                                                    foreach (var fngs in lFungsi)
                                                    {
                                                        <option value="@fngs.Fungsi">@fngs.Fungsi</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" id="cls_status">
                                        <label for="inputName" class="col-sm-2 control-label">Status :</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" id="status_email" readonly />
                                        </div>
                                    </div>

                                    <div class="form-group" id="cls_email">
                                        <label for="inputName" class="col-sm-2 control-label">Email :</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="email_txt" type="text" placeholder="email@email.com">
                                        </div>
                                        <button type="button" id="btnEditem" class="fa fa-pencil" onclick="updateEmailFID()"></button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="save_other_email_fid()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="default_email()">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    getListDocumentsFID();
    viewEmailFID();

    $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

        var target = $(e.target).attr("href");

        if ((target == '#list-docs')) {
            w2ui['grid-docs'].refresh();
        }

        if ((target == '#list-email')) {
            w2ui['gridEmail'].refresh();
        }

    });

    function getListDocumentsFID() {
        var ID = '@Model.NoFID';

        if (w2ui['grid-docs'] != null) {

            w2ui['grid-docs'].destroy();

        }

        $('#grid-docs').w2grid({
            name: 'grid-docs',
            show: {
                footer: true,
                toolbar: true,
                lineNumbers: true,
                toolbarAdd: true,
                toolbarDelete: true,
                toolbarInput: false,
                toolbarReload: true,
                toolbarColumns: false,
            },
            columns: [
                { field: 'DocType', caption: 'Tipe Dokumen', size: '150px', searchable: 'text' },
                { field: 'FileName', caption: 'File Name', size: '150px', searchable: 'text' },
                {
                    field: 'FileName', caption: '', size: '150px',
                    render: function (record) {

                        var download

                        download = '<a href="' + URL_PTPR + '/FID/GetDocumentFiles?id=' + record.recid + '" target="_blank"><i class="fa fa-cloud-download" aria-hidden="true" ></i> View Full Page</a>';

                        return download;

                    }
                },
                { field: 'UploadDate', caption: 'Upload Date', size: '150px', searchable: 'text' },
            ],
            onAdd: function (event) {
                form_upload_file();
            },
            onReload: function (event) {
                refresh_gridDocs(ID);
            },
            onSelect: function (event) {


                if (event.recid != undefined) {

                    var record = this.get(event.recid);

                    var file_url = URL_PTPR + '/FID/GetDocumentFiles?id=' + record.recid;

                    $("#frame_preview").attr("src", file_url);

                }

            },
            onUnselect: function (event) {
                $("#frame_preview").attr("src", "");
            },
            onDelete: function (event) {

                var sel = this.getSelection();
                if (event.force == true) {

                    render_wait();

                    sel.forEach(function (entry) {

                        var record = w2ui.gridUpload.get(entry);

                        var Delete = $.ajax({
                            url: URL_PTR + '/FID/DeleteFiles?id=' + record.recid,
                            type: 'POST',
                            dataType: "json",
                            cache: false,
                            async: false,
                            contentType: false,
                            processData: false,
                        });


                    });


                    clear_wait();
                    $('#modal_upload').modal("hide");

                    w2alert("Delete File Success. ")
                }

            },

        });


        refresh_gridDocs(ID);
    }

    function refresh_gridDocs(ID) {
        w2ui['grid-docs'].load(URL_PTR + '/FID/GetDocument?NoFID=' + ID);
    }

    function viewEmailFID() {
        var ID = '@Model.NoFID';

        if (w2ui['gridEmail'] != null) {

            w2ui['gridEmail'].destroy();

        }
        $('#gridEmail').w2grid({
            name: 'gridEmail',
            show: {
                footer: true,
                toolbar: true,
                toolbarSearch: false,
                lineNumbers: true,
                toolbarAdd: true,
                toolbarDelete: true,
                toolbarReload: true,
                toolbarColumns: false,
            },
            columns: [
                { field: 'ID', hidden: true },
                { field: 'NoFID', caption: 'No FID', size: '200px', searchable: 'text' },
                { field: 'Email', caption: 'Email', size: '250px', searchable: 'text' },
                { field: 'Jabatan', caption: 'Jabatan', size: '500px', searchable: 'text' },
                { field: 'Status', caption: 'Status', size: '100px', searchable: 'text' },
            ]
            , onAdd: function (event) {
                add_other_email_fid();
            },
            onReload: function (event) {
                refresh_email(ID);
            },
            onDelete: function (event) {

                var sel = this.getSelection();
                if (event.force == true) {

                    sel.forEach(function (entry) {

                        var record = w2ui.gridEmail.get(entry);

                        var Delete = $.ajax({
                            url: URL_PTR + '/FID/DeleteEmail?id=' + record.recid,
                            type: 'POST',
                            dataType: "json",
                            cache: false,
                            async: false,
                            contentType: false,
                            processData: false,
                        });


                    });

                    w2alert("Delete Email Success. ")
                }

            },
            onDblClick: function (event) {
                var record = this.get(event.recid);
                if (detail_email_fid) detail_email_fid(record);
            },
        });

        refresh_email(ID);
    }

    function refresh_email(ID) {
        w2ui['gridEmail'].load(URL_PTR + '/FID/GetEmailList?NoFID=' + ID);
    }

    function add_other_email_fid() {
        $('#email_txt').prop('disabled', false);
        $('#jbtn').prop('disabled', false);
        $('#status_email').val("emailCC");
        $('#email_txt').val('');

        $('#btnEditem').hide();
        $('#modal_other_email').modal(
            {
                backdrop: 'static',
                keyboard: false
            }

        );
    }

    function default_email() {

        $('#jbtn').val("").trigger('change');
        $('#status_email').val("");
        $('#email_txt').val("");

    }

    function detail_email_fid(record) {

        $('#modal_other_email').modal("show").css('margin-top', "5%");
        default_email();
        $('#btnEditem').show();
        let fungsi = record.Jabatan;
        let dtFungsi = fungsi.replace("Manager", "").trim();

        $('#jbtn').val(dtFungsi).trigger('change');
        $('#status_email').val(record.Status);
        $('#email_txt').val(record.Email);

        $('#jbtn').prop("disabled", true);
        $('#email_txt').prop("disabled", true);
    }

    function updateEmailFID() {
        $('#email_txt').prop("disabled", false);
    }

    function save_other_email_fid() {
        var strEmail = 0;

        var email = $('#email_txt').val();

        if (email == "") { w2alert("Insert Email!."); return };
        if ($('#jbtn').val() == "") { w2alert("Insert Fungsi!."); return };
        if (isValidEmail(email)) return;

        var docEmail = new FormData();
        docEmail.append('NoFID', $('#noFID').val());
        docEmail.append('Jabatan', $('#jbtn').val());
        docEmail.append('Status', $('#status_email').val());
        docEmail.append('Email', $('#email_txt').val());
        docEmail.append('stsEmail', strEmail);

        $("#w2ui-popup").hide();
        render_wait();

        var Simpan = $.ajax({
            url: URL_PTPR + '/FID/SaveEmail',
            type: 'POST',
            data: docEmail,
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
        });

        $("#w2ui-popup").show();
        clear_wait();

        if (Simpan.responseJSON["Result"] != "Error") {
            w2popup.message();
            $('#modal_other_email').modal('hide');
            w2alert("Save Email success !");
            form_default_email();
            refresh_email($('#noFID').val());
        }
        else {
            w2alert("Upload file failed, please try again !");
        }
    }

    function form_default_email() {
        $('#jbtn').val('').trigger('change');
        $('#status_email').val('');
        $('#email_txt').val('');
    }

    function isValidEmail(email) {
        debugger
        let pattern = /^[^@@\s]+@@[^@@\.\s]+(\.[^@@\.\s]+)+$/;

        var result = pattern.test(email);

        if (!result) {
            w2alert("Insert Correct Email");
            return true;
        }

        return false;
    }

    function saveformFID() {

        w2confirm('Apakah Anda Yakin Akan Menyimpan Dokumen ini? <br>' +
            'Periksa Kembali Dokumen Hasil Review <br>' +
            'Periksa Kembali Dokumen FID (Cost Benefit Analisys)')
            .yes(() => { saveFID('FID') })
            .no(() => { return })
    }

    function saveFID(flag) {

        if (cekTDtext()) return;

        var Nominal = $("#nilai_abi").val();
        Nominal = Nominal.replace(/,/g, '');

        let dataHR = document.getElementById("frmHR").innerHTML;
        let dataFID = document.getElementById("frmFID").innerHTML;

        var dataFIDs = new FormData();
        dataFIDs.append('NoFID', $('#noFID').val());
        dataFIDs.append('JudulFID', $('#judul_usul').val());
        dataFIDs.append('ThnAng', $('#thn_usul').val());
        dataFIDs.append('NilaiABI', Nominal);
        dataFIDs.append('FungsiPengusul', $('#fungsi_usul').val());
        dataFIDs.append('JenisFID', $('#jenis_usul').val());
        dataFIDs.append('UserName', '@User.Identity.Name.ToString()');
        dataFIDs.append('Email', $('#email_txt').val());
        dataFIDs.append('Jabatan', 'User');
        dataFIDs.append('Flag_update', flag);
        dataFIDs.append('fileHR', dataHR);
        dataFIDs.append('fileFID', dataFID);

        //var fileOTH = $("#file-other").get(0);
        //var filesOTH = fileOTH.files;
        //for (var i = 0; i < filesOTH.length; i++) {
        //    dataFIDs.append(filesOTH[i].name, filesOTH[i]);
        //}

        var Simpan = $.ajax({
            //url: URL_PTPR + '/FID/SaveFID',
            url: URL_PTPR + '/OnlineForm/SaveFID',
            type: 'POST',
            data: dataFIDs,
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
        });

        if (Simpan.responseJSON["Result"] != "Error") {
            w2alert('Add Dokumen FID success !');

            clear_wait();

            returnHome();
        }
        else {

            alert('Add new FID failed, please try again !  ' + Simpan.responseJSON["Msg"]);

            clear_wait();
        }
    }

    function returnHome() {

        var category = '@category';
        if (category == "BD") {
            category = "bd";
        }
        else {
            category = "NonBD";
        }

        window.location.replace(URL_PTPR + "/" + '/FID/vFID?category=' + category);
    }

    function cekTDtext() {

        var element = document.getElementsByClassName('text-for-signature');
        var defText = "<b>Input Text Here</b>";
        var matchFound = false;

        for (var i = 0; i < element.length; i++) {
            var section = element[i];

            var innert = section.innerHTML.trim();

            if (innert == defText) {
                matchFound = true;
                break;
            }
        }

        if (matchFound) {
            var alrt = '<p>Periksa Kembali Nama dan Jabatan <br /> Pada Bagian TTD / Specimen</p>';

            w2alert(alrt);

            return true;
        }

        return false;
    }
</script>