@using SimplifikasiFID.Models;
@using System.Web.Configuration;
@model string
@{
    ViewBag.Title = "ListFID";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ActiveMenu = "ListFID";
    ViewBag.ActiveMenuCaption = "ListFID";
    ViewBag.Icon = "<i class=\"ace-icon fa fa-list\"></i>";
    ViewBag.SideMenu = "Yes";
}

@{
    string StatView = HttpContext.Current.Request.QueryString["sts"];
    string category = Model != null ? Model.ToString() : "";
    string UserId = User.Identity.Name.ToString();

    SimplyFIDEntities dbs = new SimplyFIDEntities();
    var status = (from a in dbs.M_Status orderby a.status ascending select a);
    var year = (from b in dbs.T_FID where (b.Jenisfid == category) orderby b.TahunAnggaran ascending select b.TahunAnggaran).Distinct();
    var role = dbs.M_User.Where(x => x.username.Equals(UserId)).Select(x => x.flag).FirstOrDefault();
    var mStatus = dbs.M_Status.Where(x => x.status < 12).OrderBy(x => x.status).ToList();

    var ROLES = new SimplifikasiFID.Classes.UserRoleProvider();
}

<style>
    .page-content {
        padding: 0px;
    }

    .form-control {
        font-size: 12px;
    }

    #myModal .modal-dialog {
        width: 80%;
        margin: 0 auto;
        margin-top: 1%;
        -webkit-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
        box-shadow: -1px 11px 48px 3px rgba(0,0,0,0.75);
    }

    #myModal .control-label {
        font-size: 12px;
    }

    .btn_reject, .btn_reject.focus, .btn_reject:focus {
        background-color: #f45656 !important;
        border-color: #f45656
    }
</style>

<div id="myModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">

            @*Modal Header*@
            <div class="modal-header" id="modal_header">
                <button type="button" class="close" data-dismiss="modal" style="color:#292865;" onclick="formDefault()">&times;</button>
                <p align="right" style="padding-right:30px;">@UserId</p>
                <div class="modal-title" style="color:#292865;"></div>
            </div>

            @*Modal Body*@
            <div class="modal-body" style="padding:0px;padding-top:10px;">
                <div class="tabbable">

                    @*Tabs*@
                    <ul class="nav nav-tabs" id="tabs">
                        <li id="tab1" class="active">
                            <a data-toggle="tab" href="#info" aria-expanded="true" style="border-left:none;">
                                <i class="fa fa-desktop"></i>Information
                            </a>
                        </li>
                        <li id="tab2">
                            <a data-toggle="tab" href="#fid_file" aria-expanded="true" style="border-left:none;">
                                <i class="fa fa-file"></i>Documents
                            </a>
                        </li>
                        <li id="tab3">
                            <a data-toggle="tab" href="#tab_upload_list" aria-expanded="true" style="border-left:none;">
                                <i class="fa fa-file"></i>Upload List
                            </a>
                        </li>
                        <li id="tab4">
                            <a data-toggle="tab" href="#catatan" aria-expanded="true" style="border-left:none;">
                                <i class="fa fa-file"></i>Catatan
                            </a>
                        </li>
                        <li id="tab5">
                            <a data-toggle="tab" href="#tab_email" aria-expanded="true" style="border-left:none;">
                                <i class="fa fa-at"></i>Email
                            </a>
                        </li>

                    </ul>

                    @*Tabs Contents*@
                    <div class="tab-content" style="min-height:300px;border-bottom:none;border-left:none;border-right:none;padding:0px;">

                        @*Tabs Information*@
                        <div id="info" class="tab-pane fade in active">
                            <form class="form-horizontal">

                                <div class="box-body">
                                    <br>
                                    <div class="form-group" id="idFID">
                                        <label for="inputName" class="col-sm-2 control-label">Nomor FID :</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="noFID" placeholder="Id. Will be generate by system" type="text" readonly style="background-color:whitesmoke;" autocomplete="off">
                                        </div>
                                    </div>

                                    <div id="idJudul" class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Tahun Anggaran :</label>
                                        <div class="col-sm-3">
                                            <input class="form-control" id="thn_usul" placeholder="Tahun Anggaran" type="text" />
                                            <script>
                                                $(document).ready(function () {
                                                    $("#thn_usul").datepicker({
                                                        format: "yyyy",
                                                        viewMode: "years",
                                                        minViewMode: "years",
                                                        autoclose: true
                                                    });
                                                })
                                            </script>
                                        </div>
                                    </div>

                                    <div id="idJudul" class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Judul Usulan :</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="judul_usul" placeholder="Judul Usulan" type="text" ;">
                                        </div>
                                    </div>

                                    <div id="idABI" class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Nilai Pengajuan ABI :</label>
                                        <div class="col-sm-6">
                                            <input class="form-control" id="nilai_abi" placeholder="Nilai ABI Dalam Angka" type="text" onkeypress="return onlyNumberKey(event)" oninput="inputCurrency('nilai_abi')">
                                            <script>
                                                function inputCurrency(id) {
                                                    if (document.getElementById(id).value != "") {
                                                        document.getElementById(id).value = parseFloat(document.getElementById(id).value.replace(/\,/g, ""))
                                                            .toString()
                                                            .replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                                    }
                                                }
                                            </script>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Fungsi Pengusul :</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" id="fungsi_usul">
                                                <option value="" selected>-- Select Fungsi Pengusul --</option>

                                                @foreach (var item in ViewBag.fungsi)
                                                {
                                                    <option value="@item.FungsiID">@item.FungsiName</option>

                                                }
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="inputName" class="col-sm-2 control-label">Jenis Usulan :</label>
                                        <div class="col-sm-4">

                                            <select class="form-control select2" id="jenis_usul">
                                                <option value="" selected>-- Select Jenis Usulan --</option>
                                                <option value="BD">BD</option>
                                                <option value="NON-BD">NON BD</option>
                                            </select>

                                        </div>
                                    </div>

                                </div>

                                <div class="col-sm-12" style="margin-top: 25px; display: flex; justify-content: center; background: white; margin-bottom: 20px;">
                                    <div class="progressbar-container">
                                        <div class="progressbar-wrapper">
                                            @*<ul class="progressbar" id="stepper-items">
                                            </ul>*@
                                            <ol class="stepper" id="stepper-items">

                                            </ol>
                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>

                        @*Tabs Uploads*@
                        <div id="fid_file" class="tab-pane fade" style="padding:0px;padding-top:10px">
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <br>
                                    <div class="form-group" id="div_fid">
                                        <label for="inputName" class="col-sm-2 control-label" id="lbl_fid">Draft FID : *pdf</label>
                                        <div class="col-sm-9" id="cls_fid">
                                            <input multiple="" class="form-control" type="file" id="doc_fid" required accept=".pdf" onchange="checkpdffiles(this, $('#doc_fid'))" />
                                        </div>
                                    </div>

                                    <div class="form-group" id="div_fid2">
                                        <label for="inputName" class="col-sm-2 control-label" id="lbl_fid2">Draft FID : *doc</label>
                                        <div class="col-sm-9" id="cls_fid2">
                                            <input multiple="" class="form-control" type="file" id="doc_fid2" required accept=".docx,.doc" onchange="checkdocfiles(this, $('#doc_fid2'))" />
                                        </div>
                                    </div>

                                    <div class="form-group" id="div_hr">
                                        <label for="inputName" class="col-sm-2 control-label" id="lbl_hr">Hasil Review :</label>
                                        <div class="col-sm-9" id="cls_hr">
                                            <input class="form-control" type="file" id="doc_hr" />
                                        </div>
                                    </div>

                                    <div class="form-group" id="div_rr">
                                        <label for="inputName" class="col-sm-2 control-label" id="lbl_rr">Risk Register :</label>
                                        <div class="col-sm-9" id="cls_rr">
                                            <input class="form-control" type="file" id="doc_rr" />
                                        </div>
                                    </div>

                                    <div class="form-group" id="div_siip">
                                        <label for="inputName" class="col-sm-2 control-label" id="lbl_siip">SIIP :</label>
                                        <div class="col-sm-9" id="cls_siip">
                                            <input class="form-control" type="file" id="doc_siip" />
                                        </div>
                                    </div>

                                    <div class="form-group" id="div_other">
                                        <label for="inputName" class="col-sm-2 control-label" id="lbl_others">OTHERS :</label>
                                        <div class="col-sm-9" id="cls_oth">
                                            <input class="form-control" type="file" id="doc_other" />
                                        </div>
                                    </div>

                                </div>
                            </form>
                        </div>

                        @*Tab Upload List*@
                        <div id="tab_upload_list" class="tab-pane fade" style="padding:0px;padding-top:0px;">

                            <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="50%" valign="top" style="padding-top:1px;">
                                        <div id="gridUpload" style="height:297px;border:none;border-radius:0px;border-top:1px solid #dedede;border-right:0px solid #dedede;"></div>
                                    </td>
                                    <td valign="middle" style="border-left:1px solid #ccc;">
                                        <div id="preview_file" style="text-align:center;">
                                            <iframe src="" scrolling="no" id="frame_preview" frameborder="0" style="width:100%;height:290px;border:1px;"></iframe>
                                        </div>
                                    </td>

                                </tr>
                            </table>

                        </div>

                        @*Tabs Catatan*@
                        <div id="catatan" class="tab-pane fade" style="padding:0px;padding-top:0px" hidden>
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <table border="0px" width="100%" height="100%">
                                        <tr>
                                            <td width="50%" valign="top">
                                                <div id="gridCatatan" style="height:297px; border-left: none; border-bottom: 1px solid #dedede; border-radius: 0px; border-top: 0px;" class="responsive"></div>
                                            </td>
                                            <td valign="top">
                                                <div style="text-align:center;">
                                                    <textarea id="note_process_view" style="width:90%;border:1px dashed #dedede ;height:90px;background:#fdfd96;margin-top:20px;border-radius:5px;" readonly placeholder="Pilih item catatan di samping untuk menampilkan !"></textarea>
                                                    <br />
                                                    <textarea id="note_process" style="width:90%;border:1px dashed #dedede ;height:90px;background:#fdfd96;margin-top:20px;border-radius:5px;" placeholder="Tinggalkan catatan di sini !"></textarea>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </form>
                        </div>

                        @*Tabs Email*@
                        <div id="tab_email" class="tab-pane fade" style="padding:0px;padding-top:0px;">

                            <table border="0" width="100%" align="center" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td width="100%" valign="top" style="padding-top:1px;">
                                        <div id="gridEmail" style="height:297px;border:none;border-radius:0px;border-top:1px solid #dedede;border-right:0px solid #dedede;"></div>
                                    </td>

                                </tr>
                            </table>

                        </div>


                    </div>
                </div>


            </div>
            <div class="modal-footer" id="fid_footer">

            </div>
        </div>

    </div>
</div>


<!-- Modal ALlert-->
<div class="modal fade" id="modal_alert" role="dialog" style="margin-top:5%;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#65b0b9;color:White;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p style="color:#151928">ALERT!</p>
            </div>

            <div class="modal-body" id="alert_msg">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Upload-->
<div class="modal fade" id="modal_upload" role="dialog" style="margin-top:5%;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#438EB9;color:White;">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Upload File</h4>
            </div>
            <div class="modal-body">
                <input multiple="" type="file" id="upload_other_file" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="upload_file_other()">Upload</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Add Other Email-->
<div class="modal fade" id="modal_other_email" role="dialog" data-backdrop="static" data-keyboard="false">

    <div class="modal-dialog modal-lg modal-dialog-centered">

        <div class="modal-content">
            <div class="modal-header" style="background-color:#438EB9;color:White;">
                <button type="button" class="close" data-dismiss="modal" onclick="form_default_email()">&times;</button>
                <h4 class="modal-title">Add Email</h4>
            </div>

            <div class="modal-body" style="padding:0px;padding-top:10px;">
                <div class="tabbable">

                    <ul class="nav nav-tabs" id="tabs">
                        <li id="tab1" class="active">
                            <a data-toggle="tab" href="#add_email" aria-expanded="true" style="border-left:none;">
                                <i class="fa fa-envelope"></i>Add Email
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" style="min-height:150px; border-bottom:none;border-left:none;border-right:none;padding:0px;">
                        <div id="add_email" class="tab-pane fade in active">
                            <form class="form-horizontal">
                                <div class="box-body">
                                    <br />
                                    <div class="form-group" id="cls_jabatan">
                                        <label for="inputName" class="col-sm-2 control-label">Divisi :</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" id="jbtn">
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" id="cls_status">
                                        <label for="inputName" class="col-sm-2 control-label">Status :</label>
                                        <div class="col-sm-4">
                                            <select class="form-control select2" id="status_email">
                                                <option value="" selected>-- Status --</option>
                                                <option value="emailTo">Email To</option>
                                                <option value="emailCc">Email CC</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group" id="cls_email">
                                        <label for="inputName" class="col-sm-2 control-label">Email :</label>
                                        <div class="col-sm-8">
                                            <input class="form-control" id="email_txt" type="text" placeholder="email@email.com">
                                        </div>
                                        <button type="button" id="btnEditem" class="fa fa-pencil" onclick="updateEmail()"></button>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" onclick="save_other_email()">Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="form_default_email()">Close</button>
            </div>
        </div>
    </div>
</div>


<div style="margin-left:0px;">
    <div id="gridfid" class="responsive"></div>
</div>


<script>
    @*@{
        if ((StatView == null || StatView.Trim() == ""))
        {
            StatView = " ";
        }
    }*@
    var vStat = '@StatView';
    var strEmail = 0;
    var gridname = 'gridfid';
    var setCurrency = new Intl.NumberFormat('en-US', {
        minimumFractionDigits: 2,
        maximumFractionDigits: 2,
    });

     Add_form2('/FID/ListFID', gridname, '/FID/GetList?sts=' + vStat + '&category=@category' ,
        [
            { field: 'DocID', hidden: true},
            { field: 'sts', hidden: true},
            { field: 'FungsiID', hidden: true},
            { field: 'Status', caption: 'Status', size: '170px', sortable: true, searchable: 'text'},
            { field: 'NoFID', caption: 'Nomor FID', size: '170px', sortable: true, searchable: 'text'},
            { field: 'Judulfid', caption: 'Judul FID', size: '300px', sortable: true, searchable: 'text'},
            { field: 'TahunAnggaran', caption: 'Thn. Anggaran', size: '100px', sortable: true, searchable: 'text'},
            {
                field: 'NilaiABI', caption: 'Nilai ABI', size: '120px', sortable: true, searchable: 'text',
                render: function (record) {
                    return setCurrency.format(record.NilaiABI);
                }
            },
            { field: 'Jenisfid', caption: 'Jenis FID', size: '70px', sortable: true, searchable: 'text'},
            { field: 'Fungsipengusul', caption: 'Fungsi Pengusul', size: '200px', sortable: true, searchable: 'text'},
            { field: 'CreatedBy', caption: 'Created By', size: '100px', sortable: true, searchable: 'text'},
            { field: 'CreatedDate', caption: 'Created Date', size: '100px', sortable: true, searchable: 'text'},
            { field: 'UpdateUser', caption: 'Update User', size: '100px', sortable: true, searchable: 'text'},
            { field: 'UpdateDate', caption: 'Update Date', size: '100px', sortable: true, searchable: 'text' },
            { field: 'OverDays', hidden: true },
            {
                field: 'SlaDefault', caption: 'SLA Default', size: '75px', sortable: true,
                render: function (record, extra) {
                    var hari = ''
                    if (record.SlaDefault != '') {
                        hari = 'Hari'
                    }
                    var html = '<div>' + record.SlaDefault + ' ' + hari + '</div>';
                    return html;
                }
            },
            {
                field: 'SlaRealisasi', caption: 'Realisasi SLA', size: '150px', sortable: true,
                render: function (record, extra) {
                    var SLA = record.SlaRealisasi;
                    var Overday = '';

                    debugger
                    if (SLA == '' || SLA == null || SLA == 'null') {
                        SLA = record.OverDays + " Hari";
                        Overday = '';

                    }
                    else if (SLA == "On Track") {
                            record.w2ui = {
                                style: {
                                    SlaRealisasi: "background: green; font-weight: bold"
                                }
                            }
                    }
                    else {
                        Overday = record.OverDays + ' Days';
                            record.w2ui = {
                                style: {
                                    SlaRealisasi: "background: red; font-weight: bold"
                                }
                            }
                    }

                    var html = '<div>' + SLA + ' ' + Overday + '</div>';
                    return html;

                }
            },


        ],
        menu_detail_form, '/FID/DeleteDoc?id=',
        [
            { id: '', text: 'All' },

        ]
     );


    function menu_detail_form(flag, record) {

        $('#myModal').modal("show").css('margin-top', "5%");

        formDefault();

        $('#doc_fid').ace_file_input();
        $('#doc_fid2').ace_file_input();
        $('#doc_hr').ace_file_input();
        $('#doc_rr').ace_file_input();
        $('#doc_siip').ace_file_input();
        $('#doc_other').ace_file_input();

        $('#noFID').val(record.NoFID);
        $('#judul_usul').val(record.Judulfid);
        $('#thn_usul').val(record.TahunAnggaran);
        $('#nilai_abi').val(setCurrency.format(record.NilaiABI));
        $('#fungsi_usul').val(record.FungsiID).trigger('change');
        $('#jenis_usul').val(record.Jenisfid).trigger('change');


        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {

            var target = $(e.target).attr("href");

            if ((target == '#tab_upload_list')) {
                w2ui['gridUpload'].refresh();
            }

            if ((target == '#catatan')) {
                w2ui['gridCatatan'].refresh();
            }

            if ((target == '#tab_email')) {
                w2ui['gridEmail'].refresh();
            }

            if ((target == '#hist_doc')) {
                w2ui['gridHistory'].refresh();
            }
        });

        var status = record.sts;

        renderStepper(status);

        if (status == 0 || status == 4 || status == 14 ) {
            $('#tab2').hide();
            $('#tab5').hide();

            if (status == 0) {
                $('#tab4').hide();
            }
            enableForm();
            setButton(status, '@role', record.Jenisfid, record.NoFID)
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);
            view_email(record);

            $('#noFID').prop("disabled", true);
            $('#judul_usul').prop("disabled", true);
            $('#thn_usul').prop("disabled", true);
            $('#nilai_abi').prop("disabled", true);
            $('#fungsi_usul').prop("disabled", true);
            $('#jenis_usul').prop("disabled", true);
        }
        else if (status == 1) {
            $('#tab2').hide();
            $('#tab5').hide();
            setButton(status, '@role', record.Jenisfid, record.NoFID)
            disableForm();
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);

        }
        else if (status == 3) {
            $('#tab2').hide();
            $('#tab5').hide();
            setButton(status, '@role', record.Jenisfid)
            disableForm();
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);

        }
        else if (status == 2 || status == 12) {
            $('#tab2').hide();
            $('#tab5').hide();
            setButton(status, '@role', record.Jenisfid)
            disableForm();
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);

        }
        else if (status == 13) {
            $('#tab2').hide();
            $('#tab3').hide();
            $('#tab4').hide();

            var jabatan = '';
            var jenis = $('#jenis_usul').val();

            if (jenis == "BD") {
                $('#div_fid').show();
                $('#div_fid2').show();
                $('#div_hr').show();
                $('#div_other').show();
                $('#div_rr').show();
                $('#div_siip').show();

                jabatan =   '<option value="" selected>-- Jabatan --</option>' +
                            '<option value="ManBPD"> Man.BPD</option>' +
                            '<option value="ManFBS">Man. FBS</option>' +
                            '<option value="ManCNL">Man. Corsec & Legal</option>' +
                            '<option value="ManCSPRM">Man. CSPRM</option>';

                $('#jbtn').html(jabatan);

            }
            else {
                $('#div_fid').show();
                $('#div_fid2').show();
                $('#div_hr').show();
                $('#div_other').show();

                $('#div_rr').hide();
                $('#div_siip').hide();

                jabatan = '<option value="" selected>-- Jabatan --</option>' +
                        '<option value="ManCSPRM">Man. CSPRM</option>' +
                        '<option value="ManFBS">Man. FBS</option>' +
                        '<option value="ManCNL">Man. Corsec & Legal</option>' +
                        '<option value="ManBPD"> Man.BPD</option>';

                $('#jbtn').html(jabatan);
            }

            setButton(status, '@role', record.Jenisfid, record.NoFID);
            disableForm();
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);
            view_email(record);
            view_history(record);
        }
        else if (status == 5 || status == 6 || status == 7 || status == 8 || status == 9 || status == 10 || status == 11) {
            $('#tab2').hide();
            $('#tab5').hide();
            setButton(status, '@role', record.Jenisfid, record.NoFID)
            disableForm();
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);
           /* view_history(record);*/
        }
        else if (status >= 21 || status <= 24) {
            $('#tab2').hide();
            $('#tab5').hide();
            setButton(status, '@role', record.Jenisfid, record.NoFID)
            disableForm();
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);

        }
        else
        {
            setButton(status, '@role', record.Jenisfid)
            disableForm();
            view_upload(record);
            view_catatan('/FID/ListCatatan?NoFID=' + record.NoFID);
            view_history(record);
        }
    }

    function disableForm() {
        $('#noFID').prop("disabled", true);
        $('#judul_usul').prop("disabled", true);
        $('#thn_usul').prop("disabled", true);
        $('#nilai_abi').prop("disabled", true);
        $('#fungsi_usul').prop("disabled", true);
        $('#jenis_usul').prop("disabled", true);
    }

    function enableForm() {
        $('#noFID').prop("disabled", false);
        $('#judul_usul').prop("disabled", false);
        $('#thn_usul').prop("disabled", false);
        $('#nilai_abi').prop("disabled", false);
        $('#fungsi_usul').prop("disabled", false);
        $('#jenis_usul').prop("disabled", false);
    }

    function formDefault() {
        $('#judul_usul').val("");
        $('#nilai_abi').val("");
        $('#judul_usul').val("");
        $('#thn_usul').val("");
        $('#jenis_usul').val("").trigger('change');
        $('#fungsi_usul').val("").trigger('change');

        $('#ps_file').ace_file_input('reset_input');
        $('#fs_file').ace_file_input('reset_input');
        $('#cba_file').ace_file_input('reset_input');
        $('#rr_file').ace_file_input('reset_input');
        $('#siip_file').ace_file_input('reset_input');
        $('#others_file').ace_file_input('reset_input');

        $('#note_process').val("");
        $('#note_process_view').val("");

        $('#tabs a[href="#info"]').tab('show');
        $('#tab1').show();
        $('#tab2').show();
        $('#tab3').show();
        $('#tab4').show();
        $('#tab5').show();
    }

    function Add_form2(purl, gridname, listurl, gridcolumns, fn_detail_form, del_url,  xbtnclick, fn_load = false, fn_selchg = false, dt_filter = false) {

        var delMenu;

        @if (ROLES.CheckAllowExtendAccess(UserId, 122)) {
            <text>
            delMenu = true;
            </text>
        }
        else
        {
            <text>
            delMenu = false;
            </text>
        }

        $('#' + gridname).w2grid({
            name: gridname,
            url: URL_PTPR + listurl,
            show: {
                toolbar: true,
                footer: true,
                lineNumbers: true,
                selectColumn: true,
                toolbarSearch: false,
                toolbarReload: false,
                multiSelect: true,
                toolbarAdd: false,
                toolbarDelete: delMenu,
            },
            toolbar: {
                items: [
                    { type: 'button', id: 'view_detail', caption: '<i class="fa fa-eye" aria-hidden="true"></i> View' },
                    { type: 'break' },
                    {
                        type: 'menu-radio', id: 'item1',
                        text: function (item) {
                            var el = this.get('item1:' + item.selected);
                            return el.text;
                        },
                        selected: '',
                        items: [
                            { id: '', text: 'All Status' },
                                @foreach (var stat in status)
                                {
                                    <text>
                                    {
                                        id: '@stat.status', text: '@Html.Raw(HttpUtility.HtmlDecode(stat.value))'
                                    },
                                    </text>
                                }

                        ]
                    },
                    { type: 'button', id: 'load_list', caption: 'Apply', img: 'w2ui-icon-check' },
                    { type: 'break' },
                    {
                        type: 'menu-radio', id: 'item_category',
                        text: function (item) {
                            var el = this.get('item_category:' + item.selected);
                            return el.text;
                        },
                        selected: '',
                        items: [
                            { id: '', text: 'All Category' },
                            { id: 'BD', text: 'BD' },
                            { id: 'NON-BD', text: 'NON BD' },
                        ]
                    },
                    { type: 'button', id: 'load_category', caption: 'Apply', img: 'w2ui-icon-check' },
                    { type: 'break' },
                    {
                        type: 'menu-radio', id: 'item2',
                        text: function (item) {
                            var el = this.get('item2:' + item.selected);
                            return el.text;
                        },
                        selected: '',
                        items: [
                            { id: '', text: 'Tahun Anggaran' },
                            @foreach (var yr in year)
                            {
                                    <text>
                                    {
                                        id: '@yr.ToString()', text: '@yr.ToString()'
                                    },
                                    </text>
                            }
                        ]
                    },
                    { type: 'button', id: 'load_year', caption: 'Apply', img: 'w2ui-icon-check' },
                ],
                onClick: function (target, data) {
                    var sel = w2ui[gridname].getSelection();
                    var record = w2ui[gridname].get(sel[0]);
                    switch (target) {
                        case 'view_detail':
                            if (fn_detail_form) fn_detail_form("edit", record);
                            break;
                        case 'load_list':
                            var status = this.get('item1').selected;
                            refreshList(status);
                            break;
                        case 'load_year':
                            var year = this.get('item2').selected;
                            refreshYear(year);
                            break;
                        case 'load_category':
                            var category = this.get('item_category').selected;
                            refreshCategory(category);
                            break;

                    }
                   /* if (xbtnclick) xbtnclick(target, data, sel, record);*/
                }
            },
            multiSearch: true,
            textSearch: 'contains',
            columns: gridcolumns,
            onAdd: function (event) {
                if (fn_detail_form && allow_input) fn_detail_form("new");
            },
            onSelect: function (event) {
                if (fn_detail_form) w2ui[gridname].toolbar.disable('view_detail');
                event.onComplete = function () {
                    var sel = w2ui[gridname].getSelection();
                    if (fn_selchg) fn_selchg(sel);
                    if (sel.length == 1) {
                        if (fn_detail_form) w2ui[gridname].toolbar.enable('view_detail');

                    }
                }
            },
            onUnselect: function (event) {
                event.onComplete = function () {

                    if (fn_detail_form) w2ui[gridname].toolbar.disable('view_detail');
                    var sel = w2ui[gridname].getSelection();
                    if (fn_selchg) fn_selchg(sel);
                    if (sel.length == 1) {
                       if (fn_detail_form) w2ui[gridname].toolbar.enable('view_detail');
                    }
                }
            },
            onDelete: function (event) {
                if (del_url) {
                    var sel = this.getSelection();
                    if (event.force == true) {
                        render_wait();
                        sel.forEach(function (entry) {
                            var record = w2ui[gridname].get(entry);
                            var Delete = $.ajax({
                                type: "POST",
                                url: URL_PTPR + del_url + record.recid,
                                dataType: 'json',
                                cache: false,
                                async: false,
                                "autoWidth": false
                            });
                        });
                        clear_wait();

                        w2alert("Delete Usulan success !");

                    }
                }
            },
            onDblClick: function (event) {
                var record = this.get(event.recid);
                if (fn_detail_form) fn_detail_form("edit", record);
            },
            onLoad: function (event) {
                event.onComplete = function () {
                    if (fn_load) fn_load();
                }
            },

        });

        $(window).resize(function () {
            resizeGrid(gridname)
        });

        resizeGrid(gridname);
        if (fn_detail_form) w2ui[gridname].toolbar.disable('view_detail');
    }

    function refreshList(status) {
        var vstat = status;
        w2ui['gridfid'].url = URL_PTPR + '/FID/GetList?sts=' + vstat;
        w2ui['gridfid'].reload();
    }

    function refreshYear(year) {
        var year = year;
        w2ui['gridfid'].url = URL_PTPR + '/FID/GetList?year=' + year;
        w2ui['gridfid'].reload();
    }

    function refreshCategory(category) {
        var category = category;
        w2ui['gridfid'].url = URL_PTPR + '/FID/GetList?category=' + category;
        w2ui['gridfid'].reload();
    }

    function resizeGrid(gridname) {
        $('#' + gridname).css('height', (window.innerHeight - $('#' + gridname).offset().top - 50) + 'px');
        w2ui[gridname].resize();
    }

    function view_upload(record) {
        if (w2ui['gridUpload'] != null) {

            w2ui['gridUpload'].destroy();

        }
        var uplmenu;
        var status = record.sts;
        if (status == "11") {
            uplmenu = false;
        }
        else {
            uplmenu = true;
        }

        $('#gridUpload').w2grid({
            name: 'gridUpload',
            show: {
                footer: true,
                toolbar: true,
                lineNumbers: true,
                toolbarAdd: uplmenu,
                toolbarDelete: true,
                toolbarInput: false,
                toolbarReload: true,
                toolbarColumns: false,
            },
            columns: [
                { field: 'DocType', caption: 'Tipe Dokumen', size: '150px', searchable: 'text' },
                { field: 'FileName', caption: 'File Name', size: '150px', searchable: 'text' },
                {
                    field: 'FileName', caption: '', size: '150px',
                    render: function (record) {

                        var download

                        download = '<a href="' + URL_PTPR + '/FID/GetDocumentFiles?id=' + record.recid + '" target="_blank"><i class="fa fa-cloud-download" aria-hidden="true" ></i> View Full Page</a>';

                        return download;

                    }
                },
                { field: 'UploadDate', caption: 'Upload Date', size: '150px', searchable: 'text' },
            ],
            onAdd: function (event) {
                form_upload_file();
            },
            onReload: function (event) {
                refresh_upload(record.NoFID);
            },
            onSelect: function (event) {


                if (event.recid != undefined) {

                    var record = this.get(event.recid);

                    var file_url = URL_PTPR + '/FID/GetDocumentFiles?id=' + record.recid;

                    $("#frame_preview").attr("src", file_url);

                }

            },
            onUnselect: function (event) {
                $("#frame_preview").attr("src", "");
            },
            onDelete: function (event) {

                var sel = this.getSelection();
                if (event.force == true) {

                    render_wait();

                    sel.forEach(function (entry) {

                        var record = w2ui.gridUpload.get(entry);

                        var Delete = $.ajax({
                            url: URL_PTR + '/FID/DeleteFiles?id=' + record.recid,
                            type: 'POST',
                            dataType: "json",
                            cache: false,
                            async: false,
                            contentType: false,
                            processData: false,
                        });


                    });


                    clear_wait();
                    $('#modal_upload').modal("hide");

                    w2alert("Delete File Success. ")
                }

            },

        });
        var ID = record.NoFID;
        refresh_upload(ID);
    }

    function view_email(record) {
        if (w2ui['gridEmail'] != null) {

            w2ui['gridEmail'].destroy();

        }

        form_default_email();

        $('#gridEmail').w2grid({
            name: 'gridEmail',
            show: {
                footer: true,
                toolbar: false,
                toolbarSearch: false,
                lineNumbers: true,
                toolbarAdd: true,
                toolbarDelete: true,
                toolbarReload: true,
                toolbarColumns: false,
            },
            columns: [
                { field: 'ID', hidden: true },
                { field: 'NoFID', caption: 'No FID', size: '200px', searchable: 'text' },
                { field: 'Email', caption: 'Email', size: '250px', searchable: 'text' },
                { field: 'Jabatan', caption: 'Jabatan', size: '100px', searchable: 'text' },
                { field: 'Status', caption: 'Status', size: '100px', searchable: 'text' },
            ]
            , onAdd: function (event) {
                add_other_email();
            },
            onReload: function (event) {
                refresh_email(record.NoFID);
            },
            onDelete: function (event) {

                var sel = this.getSelection();
                if (event.force == true) {

                    sel.forEach(function (entry) {

                        var record = w2ui.gridEmail.get(entry);

                        var Delete = $.ajax({
                            url: URL_PTR + '/FID/DeleteEmail?id=' + record.recid,
                            type: 'POST',
                            dataType: "json",
                            cache: false,
                            async: false,
                            contentType: false,
                            processData: false,
                        });


                    });

                    w2alert("Delete Email Success. ")
                }

            },

        });
        var ID = record.NoFID;
        refresh_email(ID);
    }

    function upload_file_other() {
        var DataFID = new FormData();

        if (checkFiles("upload_other_file", "Dokumen Tidak Boleh Kosong !")) return;

        var file = $("#upload_other_file").files;

        var fileUpload = $("#upload_other_file").get(0);
        var files = fileUpload.files;

        for (var i = 0; i < files.length; i++) {
            DataFID.append(files[i].name, files[i]);
        }

        DataFID.append('NoFID', $("#noFID").val());
        DataFID.append('JenisFID', $("#jenis_usul").val());
        DataFID.append('Flag_Update', "DRAFTUPLOAD");

        $("#w2ui-popup").hide();
        render_wait();

        var Simpan = $.ajax({
            //url: URL_PTPR + '/FID/SaveFID',
            url: URL_PTPR + '/OnlineForm/SaveFID',
            type: 'POST',
            data: DataFID,
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
        });

        $("#w2ui-popup").show();
        clear_wait();

        if (Simpan.responseJSON["Result"] != "Error") {
            w2popup.message();
            $('#modal_upload').modal('hide');
            w2alert("Upload new file success !");
            refresh_upload($('#noFID').val());
        }
        else {
            w2alert("Upload file failed, please try again !");
        }
    }

    function view_catatan(url, grname = 'gridCatatan', tempdel = 'temp_delete_catatan', nview = 'note_process_view') {
        if (w2ui['gridCatatan'] != null) {

            w2ui['gridCatatan'].destroy();

        }


        $('#gridCatatan').w2grid({
            name: grname,
            header: 'Daftar Catatan',
            url: url,
            show: {
                footer: true,
                lineNumbers: true,
                toolbarReload: true,
            },
            columns: [
                { field: 'CatatanID', hidden: true },
                { field: 'NoFID', caption: 'No FID', size: '170px' },
                { field: 'Catatan', caption: 'NOTE', size: '250px' },
                { field: 'CreatedDate', caption: 'Created Date', size: '180px' },
                { field: 'CreatedUser', caption: 'Create By.', size: '100px' },
            ],
            onSelect: function (event) {
                var record = this.get(event.recid);
                $("#note_process_view").val(record.Catatan);

            },
            onUnselect: function (event) {
                $("#note_process_view").val("");
            },
            onReload: function (event) {
                w2ui[grname].load(url);
            },
        });
    }

    function refresh_upload(ID) {
        w2ui['gridUpload'].load(URL_PTR + '/FID/GetDocument?NoFID=' + ID);
    }

    function refresh_email(ID) {
        w2ui['gridEmail'].load(URL_PTR + '/FID/GetEmailList?NoFID=' + ID);
    }

    function form_upload_file() {

        var file_input = $('#upload_other_file');
        file_input.ace_file_input('reset_input');

        $('#modal_upload').modal(
            {
                backdrop: 'static',
                keyboard: false
            }
        );

    }

    function setButton(status, role, jenis, nofid) {

        var button_action = '';
        var button_action2 = '';
        var button_cancel = '';

        if (status == 0) {

            @if (ROLES.CheckAllowExtendAccess(UserId, 121))
            {
                <text>
            button_action2 = '<button type="button" class="btn btn-warning" onclick="location.href=\'' + '@Url.Action("Editform", "OnlineForm")' + '?nofid=' + nofid + '\'">Edit</button>';
            button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'NEW\', \'0\')">Save As New</button>';
                </text>
            }
            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 1 || status == 21 || status == 22 || status == 23 || status == 24 ) {
            @{
     
                    @*@if (ROLES.CheckAllowExtendAccess(UserId, 162))
                {*@
                    <text>
                    button_action = '<button type="button" class="btn btn-info" onclick="location.href=\'' + '@Url.Action("Approveform", "OnlineForm")' + '?nofid=' + nofid + '\'">Approve</button>';
                   </text>
                //}

       
            }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 19) {
            @if (ROLES.CheckAllowExtendAccess(UserId, 122))
            {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'PGR\')">Lanjut Proses GR</button>';
            button_action2 = '<button type="button" class="btn btn_reject " onclick="saveDocument(\'REVISI\', \'NOTE\')">Revisi</button>';
                </text>
            }
            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 2 || status == 12) {
            @if (ROLES.CheckAllowExtendAccess(UserId, 123))
            {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'APPROVE\')">Lanjut Proses FID</button>';
            button_action2 = '<button type="button" class="btn btn_reject " onclick="saveDocument(\'REVISI2\', \'NOTE\')">Revisi</button>';
                </text>
            }
            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 3) {
            @if (ROLES.CheckAllowExtendAccess(UserId, 126))
            {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'DRAFTFID\', \'NOTE\')">Save As Draft</button>';
                </text>
            }
            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 4) {
             @if (ROLES.CheckAllowExtendAccess(UserId, 125))
             {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'UPREV\')">Update Revisi</button>';
                </text>
             }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 14) {
             @if (ROLES.CheckAllowExtendAccess(UserId, 125))
             {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'UPREV2\')">Update Revisi</button>';
                </text>
             }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 5) {

            if (jenis == "BD") {
                @if (ROLES.CheckAllowExtendAccess(UserId, 128))
                {
                    <text>
                button_action = '<button type="button" class="btn btn-info" onclick="addSpecimentOnline(\'' + nofid + '\', \'' + jenis + '\', \'MANBPD\'); saveDocument(\'MANBPD\', \'NOTE\');">Approve</button>';
                    </text>
                }
            }
            else {
                @if (ROLES.CheckAllowExtendAccess(UserId, 162))
                {
                    <text>
                button_action = '<button type="button" class="btn btn-info" onclick="addSpecimentOnline(\'' + nofid + '\', \'' + jenis + '\', \'MANCSPRM\'); saveDocument(\'MANCSPRM\', \'NOTE\');">Approve</button>';
                    </text>
                }
            }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 6) {
            if (jenis == "BD") {
                @if (ROLES.CheckAllowExtendAccess(UserId, 160))
                {
                       <text>
                button_action = '<button type="button" class="btn btn-info" onclick="addSpecimentOnline(\'' + nofid + '\', \'' + jenis + '\', \'MANFBS\'); saveDocument(\'MANFBS\', \'NOTE\');">Approve</button>';
                    </text>
                }
            }
            else {
                @if (ROLES.CheckAllowExtendAccess(UserId, 127))
                {
                    <text>
                button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'SIGNP\', \'9\')">Sign Perisai</button>';
                    </text>
                }
            }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 7) {
            @if (ROLES.CheckAllowExtendAccess(UserId, 161))
            {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="addSpecimentOnline(\'' + nofid + '\', \'' + jenis + '\', \'MANCNL\'); saveDocument(\'MANCNL\', \'NOTE\');">Approve</button>';
                    </text>
            }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 8) {
            if (jenis == "BD") {
                @if (ROLES.CheckAllowExtendAccess(UserId, 162))
                {

                    <text>
                button_action = '<button type="button" class="btn btn-info" onclick="addSpecimentOnline(\'' + nofid + '\', \'' + jenis + '\', \'MANCSPRM\'); saveDocument(\'MANCSPRM\', \'NOTE\');">Approve</button>';
                    </text>
                }
            }
            else {
                @if (ROLES.CheckAllowExtendAccess(UserId, 128))
                {
                    <text>
                        button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'MANBPD\', \'NOTE\')">Approve</button>';
                    </text>
                }
            }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 9) {
            if (jenis == "BD") {
                @if (ROLES.CheckAllowExtendAccess(UserId, 127))
                {
                    <text>
                        button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'SIGNP\', \'9\')">Sign Perisai</button>';
                    </text>
                }
            }
            else {
                @if (ROLES.CheckAllowExtendAccess(UserId, 160))
                {
                    <text>
                button_action = '<button type="button" class="btn btn-info" onclick="addSpecimentOnline(\'' + nofid + '\', \'' + jenis + '\', \'MANFBS\'); saveDocument(\'MANFBS\', \'NOTE\');">Approve</button>';
                    </text>
                }
            }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 10) {
            @if (ROLES.CheckAllowExtendAccess(UserId, 127))
            {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="saveDocument(\'SIGN\')">Complete</button>';
                </text>
            }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }
        else if (status == 11) {
            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Close</button>';
        }
        else if (status == 13) {
             @if (ROLES.CheckAllowExtendAccess(UserId, 127))
             {
                <text>
            button_action = '<button type="button" class="btn btn-info" onclick="render_wait(); location.href=\'' + '@Url.Action("PengajuanFID", "OnlineForm")' + '?nofid=' + nofid + '\'">ADD FID</button>';
                </text>
             }

            button_cancel = '<button type="button" class="btn btn-default" data-dismiss="modal" onclick="formDefault()">Cancel</button>';
        }

        $("#fid_footer").html(button_action + button_action2 + button_cancel);
    }

    function saveDocument(Flag_Update, status) {

        var Nominal = $("#nilai_abi").val();
        Nominal = Nominal.replace(/,/g, '');
        if (Nominal.includes(".")) {
            Nominal = Nominal.substring(0, Nominal.length - 3);
        }
        debugger
        var DataDoc = new FormData();
        DataDoc.append('NoFID', $('#noFID').val());
        DataDoc.append('JudulFID', $('#judul_usul').val());
        DataDoc.append('ThnAng', $('#thn_usul').val());
        DataDoc.append('NilaiABI', Nominal);
        DataDoc.append('Flag_Update', Flag_Update);
        DataDoc.append('JenisFID', $("#jenis_usul").val());
        DataDoc.append('FungsiPengusul', $("#fungsi_usul").val());
        if (documnetHR != '') {
            DataDoc.append('fileHR', documnetHR);
        }
        if (documnetHR != '') {
            DataDoc.append('fileFID', documnetFID);
        }

        if (status == 0) {
            if (checkText("judul_usul", "Judul Usulan Tidak Boleh Kososng !", 1)) return;
            if (checkText("thn_usul", "Tahun Anggaran Tidak Boleh Kososng !", 1)) return;
            if (checkText("nilai_abi", "Nilai ABI Tidak Boleh Kosong !", 1)) return;
            if (checkText("fungsi_usul", "Fungsi Pengusul Tidak Boleh Kosong !", 1)) return;
            if (checkText("jenis_usul", "Jenis Tidak Boleh Kosong !", 1)) return;

        }
        if (status == "NOTE" ) {
            if (checkText("note_process", "Catatan Tidak Boleh Kososng !", 3)) return;
            DataDoc.append('Catatan', $('#note_process').val());
        }

        if (status == 13) {

            //if (checkFiles("doc_fid", "Dokumen FID Wajib Diupload !")) return;
            //if (checkFiles("doc_fid2", "Dokumen FID Wajib Diupload !")) return;
            //if (checkFiles("doc_hr", "Dokumen Hasil Review Wajib Diupload !")) return;
            //if ($('#jenis_usul').val() == 'BD') {
            //    if (checkFiles("doc_rr", "Dokumen Risk Register Wajib Diupload !")) return;
            //    if (checkFiles("doc_siip", "Dokumen SIIP Wajib Diupload !")) return;
            //}

            if (check_emailto($("#noFID").val(), $("#jenis_usul").val())) return;
        }

        //if (status == 13) {
        //    var fileFID = $("#doc_fid").get(0);
        //    var filesFID = fileFID.files;
        //    for (var i = 0; i < filesFID.length; i++) {
        //        DataDoc.append(filesFID[i].name, filesFID[i]);
        //    }

        //    var fileFID2 = $("#doc_fid2").get(0);
        //    var filesFID2 = fileFID2.files;
        //    for (var i = 0; i < filesFID2.length; i++) {
        //        DataDoc.append(filesFID2[i].name, filesFID2[i]);
        //    }

        //    var fileHR = $("#doc_hr").get(0);
        //    var filesHR = fileHR.files;
        //    for (var i = 0; i < filesHR.length; i++) {
        //        DataDoc.append(filesHR[i].name, filesHR[i]);
        //    }

        //    var fileRR = $("#doc_rr").get(0);
        //    var filesRR = fileRR.files;
        //    for (var i = 0; i < filesRR.length; i++) {
        //        DataDoc.append(filesRR[i].name, filesRR[i]);
        //    }

        //    var fileOTH = $("#doc_other").get(0);
        //    var filesOTH = fileOTH.files;
        //    for (var i = 0; i < filesOTH.length; i++) {
        //        DataDoc.append(filesOTH[i].name, filesOTH[i]);
        //    }

        //    var fileSIIP = $('#doc_siip').get(0);
        //    var filesSIIP = fileSIIP.files;
        //    for (var i = 0; i < filesSIIP.length; i++) {
        //        DataDoc.append(filesSIIP[i].name, filesSIIP[i]);
        //    }
        //}


        render_wait();

        var Simpan = $.ajax({
            url: URL_PTPR + '/OnlineForm/SaveFID',
            type: 'POST',
            data: DataDoc,
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
        });
        debugger
        if (Simpan.responseJSON["Result"] != "Error") {

            formDefault();
            $('#myModal').modal('hide');
            w2alert('Save Document Success !')
                .ok(function () {
                    w2ui['gridfid'].reload();
                });


            clear_wait();

        }
        else {
            clear_wait();
            w2alert('Save DocumentFID failed, please try again !<br>' + Simpan.responseJSON["Msg"]);

        }
    }

    function checkText(chkid, msg, tabs) {
        if ($('#' + chkid).val() == "") {
            alrt = '<p>' + msg + '</p>';

            $('#alert_msg').html(alrt);
            $('#modal_alert').modal("show");


            if (tabs == 1) {
                $('#tabs a[href="#info"]').tab('show');
            }
            else if (tabs == 3){
                $('#tabs a[href="#catatan"]').tab('show');
            }


            return true;
        }
        return false;
    }

    function checkFiles(chkid, msg) {

        if (document.getElementById(chkid).files.length == 0) {
            alrt = '<p>' + msg + '</p>';

            $('#alert_msg').html(alrt);
            $('#modal_alert').modal("show");

            $('#tabs a[href="#fid_file"]').tab('show');

            return true;
        }
        return false;
    }




    function add_other_email() {
        $('#email_txt').prop('disabled', false);
        $('#btnEditem').hide();
        $('#modal_other_email').modal(
            {
                backdrop: 'static',
                keyboard: false
            }

        );
    }

    function updateEmail() {
        strEmail = 1;
        $('#email_txt').val("");
        $('#email_txt').prop('disabled', false);
    }

    function save_other_email() {

        var docEmail = new FormData();
        docEmail.append('NoFID', $('#noFID').val());
        docEmail.append('Jabatan', $('#jbtn').val());
        docEmail.append('Status', $('#status_email').val());
        docEmail.append('Email', $('#email_txt').val());
        docEmail.append('stsEmail', strEmail);

        $("#w2ui-popup").hide();
        render_wait();

        var Simpan = $.ajax({
            url: URL_PTPR + '/FID/SaveEmail',
            type: 'POST',
            data: docEmail,
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
        });

        $("#w2ui-popup").show();
        clear_wait();

        if (Simpan.responseJSON["Result"] != "Error") {
            w2popup.message();
            $('#modal_other_email').modal('hide');
            w2alert("Save Email success !");
            form_default_email();
            refresh_email($('#noFID').val());
        }
        else {
            w2alert("Upload file failed, please try again !");
        }
    }

    function form_default_email() {
        $('#btnEditem').show();
        $('#jbtn').val("").trigger('change');
        $('#status_email').val("").trigger('change');
        $('#email_txt').val("");
        strEmail = 0;
    }

    function check_emailto(nofid, jenis) {
        var doc = new FormData();
        doc.append('nofid', nofid);
        doc.append('jenis', jenis);

        var Email = $.ajax({
            url: URL_PTPR + '/FID/CekEmail',
            type: 'POST',
            data: doc,
            dataType: "json",
            cache: false,
            async: false,
            contentType: false,
            processData: false,
        });

        if (Email.responseJSON["Result"] != "Succes") {
            w2alert(Email.responseJSON["Msg"] + " , Cek Email !");

            $('#tabs a[href="#tab_email"]').tab('show');
            return true;
        }

        return false
    }

    function checkpdffiles(sender, uplname) {
        var pdf = ".pdf";
        var fileExt = sender.value.toLowerCase();
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (pdf.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                pdf.toString() + " types.");
            var file_input = jQuery(uplname);
            file_input.ace_file_input('reset_input');
            return false;
        }
        else return true;
    }

    function checkdocfiles(sender, uplname) {
        var docx = ".docx";
        var fileExt = sender.value.toLowerCase();
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (docx.indexOf(fileExt) < 0) {
            alert("Invalid file selected, valid files are of " +
                docx.toString() + " types.");
            var file_input = jQuery(uplname);
            file_input.ace_file_input('reset_input');
            return false;
        }
        else return true;
    }

    $('#status_email').change(function () {
        var jenis = $('#jenis_usul').val();
        var manager = $('#jbtn').val();

        if ($('#status_email').val() == 'emailTo') {

            var Man = $.ajax({
                url: URL_PTPR + '/FID/GetEmailMan?man=' + manager,
                type: "POST",
                dataType: 'json',
                cache: false,
                async: false,
                contentType: false,
                processData: false,
                success: function (response) {

                    if (response != null) {
                        $('#email_txt').val(response);
                        $('#email_txt').prop('disabled', true);

                        $('#btnEditem').show();
                    }

                }
            });

        }
        else {
            $('#email_txt').val("");
            $('#email_txt').prop('disabled', false);
        }


    });

    function renderStepper(status) {
        
        var total = '@mStatus.Count()';
        var mStatusValues = [@{
            foreach(var item in mStatus) {
                    @Html.Raw("'" + item.value + "',")
                }
            }];
        let lis = '';
        mStatusValues.forEach((value) => {
            
            if (value.includes("Approved by ")) {
                value = value.replace('Approved by ', '');
            }
            lis += '<li>' + value + '</li>';
        });
        

        $('#stepper-items').html(lis);

        // Set past steps
        $('#stepper-items li:lt(' + status + ')').addClass('past');
        // Set active step
        $('#stepper-items li').eq(status).addClass('active');
    }




</script>


<style>
    #tbl-detail-term, #tbl-edit-detail {
        border-spacing: 10px;
        border-collapse: separate;
    }
</style>

